body {
background-image: linear-gradient(to right, #6bd1ce, #f7bafe);
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
}
header {
    text-align: center;
    margin-bottom: 30px;
}
h1 {
    font-size: 2.5em;
    color: #4a90e2;
    text-align: center;
}
.desafio {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.desafio h2 {
    color: #4a90e2;
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}   
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}